<section id="music" class="support mrgb++">
  <h1>{{ t.music.title }}</h1>
  <p>{{ t.music.intro }}</p>
  <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/track=2732141700/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://singingoutloudassociation.bandcamp.com/track/a-prayer-to-you">A Prayer To You by The I-Twins</a></iframe>
  <p class="mrgt"><a href="#collapse-lyrics" data-toggle="collapse">{{ t.music.lyrics }}</a></p>
  <div class="collapse" id="collapse-lyrics">
    <div class="collapse-container">
      <p>Where to begin
      that not even our worst nightmares could imagine?
      when no language could ever find a name for such atrocities?
      To talk about a violence
      What words should be used</p>

      <p>They came in the middle of the night
      And violated the entrance of her home
      And so did they with her body
      Forcing her whole family to see
      This monstrosity</p>

      <p>My tears, my prayers
      Go out to you my sisters
      my brothers
      From me to you,
      is it all I can do?</p>

      <p>They destroyed her garden
      and no birth can be given
      All the fruits get rotten
      No life in here anymore
      All that remains is scars and sores</p>

      <p>With a cold-blooded insanity,
      they just ripped her off of her humanity
      It’s the whole community they annihilated
      So imagine how much love
      Imagine how much strength
      will be needed
      to rebuild a present and a future</p>

      <p>Can my words be true
      talking about something I’ve never been through?
      I will never speak from experience,
      who've endured such unspeakable offence:
      May Jah bring my prayers, my love, my strength
      Can my words be true
      While I’m hoping
      To my brothers, my sisters
      To you</p>
    </div>
  </div>
</section>
