<article id="project" class="projet mrgb++">
  <h1>Projet</h1>
  <p>
    Suite à la lecture d’un article bouleversant paru en 2013 sur le Dr Mukwege et son combat,
    est née la volonté d’organiser une récolte de fonds pour le soutenir financièrement dans son
    combat ainsi que pour faire connaître sa lutte trop méconnue du grand public. Tous deux
    musiciens, nous avons décidé d’utiliser la musique comme vecteur pour porter cette lutte,
    d’où la formation de notre association, Singing out loud. Cela étant, conscients que la portée
    d’une telle récolte de fonds pourrait demeurer modeste, elle ne constitue pas l’unique
    objectif. En effet, le but principal recherché par notre démarche est de faire parler d’une
    problématique qui ne semble pas intéresser le monde, c’est la raison pour laquelle nous
    avons rédigé les différents articles de ce site internet. Depuis les années 90, ces conflits
    dans l’Est du Congo ont fait plus de morts que la Seconde Guerre mondiale, et ce dans une
    indifférence généralisée. Or, comme nous l’expliquons à travers les différents textes de ce
    site, le monde entier y est pourtant connecté d’une façon plus ou moins directe.
  </p>
</article>
