<section id="project-actors" class="project-actors">
  <h1>{{ t.actors.title }}</h1>
  <p>{{ t.actors.thanks }}</p>
  <h4>{{ t.actors.musicians }}</h4>
  <p class="mrgl mrgv0">- Matteo d’Amico - {{ t.actors.instrument-1 }}</p>
  <p class="mrgl mrgv0">- Michael Borcard - {{ t.actors.instrument-2 }}</p>
  <p class="mrgl mrgv0">- Antonin Chatelain - {{ t.actors.instrument-3 }}</p>
  <p class="mrgl mrgv0">- Solal Excoffier - {{ t.actors.instrument-4 }}</p>
  <p class="mrgl mrgv0">- Mathias Liengme - {{ t.actors.instrument-5 }}</p>
  <p class="mrgl mrgv0">- Léo Marin - {{ t.actors.instrument-6 }}</p>
  <p class="mrgl mrgv0">- Alex Schneiter - {{ t.actors.instrument-7 }}</p>
  <p class="mrgl mrgv0 mrgb+">- Camille & Quentin Chappuis - {{ t.actors.instrument-8 }}</p>
  <h4>{{ t.actors.record }}</h4>
  <p class="mrgl mrgt0 mrgb+">- {{ t.actors.record-studio }}</p>
  <h4>{{ t.actors.mixing }}</h4>
  <p class="mrgl mrgt0 mrgb+">- {{t.actors.mixing-studio }}</p>
  <h4>{{ t.actors.mastering }}</h4>
  <p class="mrgl mrgt0 mrgb+">- {{ t.actors.mastering-man }}</p>
  <h4>{{ t.actors.picture }}</h4>
  <p class="mrgl mrgt0 mrgb+">- {{ t.actors.picture-man }}</p>
  <h4>Web</h4>
  <p class="mrgl mrgt0">- Ludovic Turmel</p>
</section>
