<article id="project-actors" class="project-actors">
  <h1>Les acteurs du projet</h1>
  <p>
    Pour ce projet, nous avons eu l’immense chance de pouvoir collaborer avec des
    professionnels dont la participation fut bénévole. Un grand merci à eux.
  </p>
  <h4>Musiciens</h4>

    Mathias Liengme (claviers, percussions & production), Matteo d’Amico (chœurs
    & trombone), Michael Borcard (saxophone), Antonin Chatelain (batterie), Solal Excoffier
    (guitare lead) Léo Marin (guitare rythmique), Alex Schneiter (chœurs &
    Mix : Robert Sanchez (Santander, Espagne)
  <h4>Mix</h4>Robert Sanchez
  <h4>Mastering</h4>Precise Mastering
  <h4>Illustration</h4>Exem
  <h4>Web</h4>Ludovic Turmel
</article>
