{% assign t = site.data.translations[page.lang] %}

<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/vendor/stylesheets/bootstrap-collapse.css" | prepend: site.baseurl }}">
    <script type="text/javascript" src="{{ "/assets/vendor/javascripts/jquery.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/vendor/javascripts/bootstrap-collapse.js" | prepend: site.baseurl }}"></script>
  </head>
  <body class="wrapper grid mrgv++">
    <div class="grid__item w-1/4">
      <div class="flag grid mrgb">
        <span class="flag--border flag--blue grid__item w-2/3"></span>
        <span class="flag--border flag--red grid__item w-1/3"></span>
      </div>

      <header>
        <h1>Singing Out <span class="bold">Loud</span></h1>
        <ul class="list">
          <li><a href="/">{{ t.music.title }}</a></li>
          <li><a href="/">{{ t.projet.title }}</a></li>
          <li><a href="/">Articles</a></li>
          <li><a href="/">{{ t.contact.title }}</a></li>
          <li><a href="/">{{ t.actors.title }}</a></li>
        </ul>
      </header>

      <div class="mrgt">
        {% assign t = site.data[page.lang].translations %}

        <ul class="list">
          {% for language in site.languages %}
            <li class="lang {% if language == page.lang %} active {% endif %}">
              {% capture lang_var %}to_{{ language }}{% endcapture %}
              <a href="{{ site.baseurl }}/{{ language }}" title="{{ t.button.lang[lang_var] }}" class="lang__link">{{ language }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="flag grid mrgt">
        <span class="flag--border flag--red grid__item w-1/3"></span>
        <span class="flag--border flag--blue grid__item w-2/3"></span>
      </div>
    </div>

    <div class="grid__item w-3/4">
      {{ content }}
    </div>

  </body>

</html>
