/**
 * Base
 * LAYOUT
 */

html {
  font-size: $font-size-default;
  font-family: $font-family-default;
}

.wrapper {
  max-width: 1024px;

  margin: 0 auto;
}

h1 {
  font-size: $font-size-huge;

  text-transform: uppercase;
}

h3 a {
  text-decoration: none;
}

a {
  color: $alt-color-darker;
}

article {
  position: relative;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

a {
  color: $brand-color;
}

.radius {
  width: 150px;
  border-radius: 75px;
}

.doctor {
  position: absolute;
  right: 40px;
  bottom: 0;
}

.flag, .flag--border {
  height: 5px;
}

.flag--blue {
  background-color: $blue;
}

.flag--red {
  background-color: $brand-color;
}
